.back-button {
    width: 10%;
    color: white;
}

.header-bold-text {
    font-weight: bold;
    color: white;
}

.header {
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 20px;
}

.results-container {
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}