.back-button {
    width: 10%;
    color: rgb(0, 55, 85);
}

.header-bold-text {
    font-weight: bold;
    color: rgb(0, 55, 85);
}

.header {
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    padding-top: 12px;
    padding-bottom: 12px;
    align-items: center;
    margin-bottom: 20px;
}

.results-container {
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 150px;
}

.shadow {
    box-shadow: 0px 10px 100px #57656e;
}