<div class="column-container">
    <mat-card class="card">
        <mat-card-header>
          <mat-card-title> Informacje o koncie </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            <span>Nazwa użytkownika: </span>
            <span>user1</span>
          </p>
          <p>
            <span>Imię: </span>
            <span>Marek</span>
          </p>
          <p>
            <span>Nazwisko: </span>
            <span>Nowak</span>
          </p>
          <p>
            <span>Numer prawa jazdy: </span>
            <span>ABC123456789</span>
          </p>
          <p>
            <span>Kraj: </span>
            <span>Polska</span>
          </p>
          <p>
            <span>Miasto: </span>
            <span>Częstochowa</span>
          </p>
          <p>
            <span>Ulica i numer domu/mieszkania </span>
            <span>al.NMP 100/20</span>
          </p>
          <p>
            <span>Kod pocztowy: </span>
            <span>42-200</span>
          </p>
          <p>
            <span>Numer telefonu: </span>
            <span>123 456 789</span>
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title> Saldo </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            150, 00 pln
        </mat-card-content>
      </mat-card>
</div>

