<mat-card *ngIf="!userActivated" class="warning-card">
  <mat-card-header>
    <mat-card-title>
      Konto nieaktywne
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Twoje konto nie jest jeszcze gotowe. Kliknij w przycisk poniżej, żeby uzupełnić niezbędne informacje.</p>
    <button *ngIf="!userActivated" mat-raised-button color="primary" (click)="openEditDialog()">Uzupełnij dane użytkownika</button>
  </mat-card-content>
</mat-card>
<ng-container *ngIf="user$ | async as user">
  <div class="column-container">
    <div class="header-bar">
      <p class="header-text">Informacje o koncie</p>
      <button *ngIf="!userActivated" mat-raised-button color="primary" (click)="openEditDialog()">Uzupełnij dane użytkownika</button>
    </div>
      <mat-card class="card">
          <mat-card-content>
            <p>
              <span>Nazwa użytkownika: </span>
              <span>{{ user.username }}</span>
            </p>
            <p>
              <span>Imię: </span>
              <span>{{ user.first_name }}</span>
            </p>
            <p>
              <span>Nazwisko: </span>
              <span>{{ user.last_name }}</span>
            </p>
            <p>
              <span>Numer prawa jazdy: </span>
              <span>{{ user.licence_number }}</span>
            </p>
            <p>
              <span>Kraj: </span>
              <span>{{ user.country }}</span>
            </p>
            <p>
              <span>Miasto: </span>
              <span>{{ user.city }}</span>
            </p>
            <p>
              <span>Ulica i numer domu: </span>
              <span>{{ user.street + ' ' + user.house_number }}</span>
              <span *ngIf="user.apartment_number">{{ '/' + user.apartment_number }}</span>
            </p>
            <p>
              <span>Kod pocztowy: </span>
              <span>{{ user.postal_code }}</span>
            </p>
            <p>
              <span>Numer telefonu: </span>
              <span>{{ user.phone_number }}</span>
            </p>
          </mat-card-content>
        </mat-card>
        <p class="header-text">Saldo</p>
        <mat-card class="card second-card">
          <mat-card-content>
              <div class="row">
                <p>{{ user.wallet_balance + ' zł' }}</p>
                <button mat-raised-button color="primary" (click)="openDialog()">ZASIL +</button>
              </div>
          </mat-card-content>
        </mat-card>
  </div>
</ng-container>

