.img {
  max-width: 500px;
  border: 1px solid black;
  border-radius: 8px;
}

.property-row {
  display: flex;
  justify-content: space-between;
  width: 70%;
  font-size: 24px;
  border-bottom: solid 1px black;
  padding: 8px;

  .property {
    font-weight: 600;
  }
}

.paragraphs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 10px;
}

.card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px
}

.card {
  max-width: fit-content;
  margin-top: 30px;
}

.header-text {
  padding-top: 10px;
  font-size: 32px;
  font-weight: 600;
  color: white;
}