<h1 mat-dialog-title>{{ mode === 'add' ? 'Dodawanie nowego samochodu' : 'Edycja istniejącego samochodu'}}</h1>
<div mat-dialog-content style="padding-top: 10px;">
    <div class="form">

        <ng-container *ngIf="carForm.controls.image_url.value">
            <div class="row">
                <img class="img" [src]="carForm.controls.image_url.value"/>
            </div>
        </ng-container>

        <mat-form-field>
            <mat-label>Link do zdjęcia</mat-label>
            <input matInput [formControl]="carForm.controls.image_url" required>
        </mat-form-field>
        
        <div class="row">
            <mat-radio-group [formControl]="carForm.controls.available">
                <mat-radio-button [value]="true">Dostępny</mat-radio-button>
                <mat-radio-button [value]="false">Niedostępny</mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="row">
            <mat-form-field>
                <mat-label>Marka</mat-label>
                <input matInput [formControl]="carForm.controls.brand" required>
                <mat-error *ngIf="carForm.controls.brand.invalid">{{ "Pole obowiązkowe" }}</mat-error>
            </mat-form-field>
              
            <mat-form-field>
                <mat-label>Model</mat-label>
                <input matInput [formControl]="carForm.controls.model" required>
                <mat-error *ngIf="carForm.controls.brand.invalid">{{ "Pole obowiązkowe" }}</mat-error>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field>
                <mat-label>Rodzaj paliwa</mat-label>
                <mat-select [formControl]="carForm.controls.fuel_type">
                    <mat-option *ngFor="let fuelTypeOption of fuelTypeOptions" [value]="fuelTypeOption">
                        {{ fuelTypeOption }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Typ skrzyni biegów</mat-label>
                <mat-select [formControl]="carForm.controls.gearbox">
                    <mat-option *ngFor=" let gearBoxOption of gearBoxOptions" [value]="gearBoxOption">
                        {{ gearBoxOption }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field>
                <mat-label>Rok produkcji</mat-label>
                <input matInput [formControl]="carForm.controls.production_year" required>
                <mat-error *ngIf="carForm.controls.brand.invalid">{{ "Pole obowiązkowe" }}</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Typ</mat-label>
                <input matInput [formControl]="carForm.controls.type" required>
                <mat-error *ngIf="carForm.controls.brand.invalid">{{ "Pole obowiązkowe" }}</mat-error>
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Cena</mat-label>
                <input matInput [formControl]="carForm.controls.price" required>
                <mat-error *ngIf="carForm.controls.brand.invalid">{{ "Pole obowiązkowe" }}</mat-error>
            </mat-form-field>
        </div>

        <div class="row">            
            <mat-form-field>
                <mat-label>Liczba miejsc</mat-label>
                <input matInput [formControl]="carForm.controls.number_of_seats" required>
                <mat-error *ngIf="carForm.controls.brand.invalid">{{ "Pole obowiązkowe" }}</mat-error>
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Liczba koni</mat-label>
                <input matInput [formControl]="carForm.controls.horse_power" required>
                <mat-error *ngIf="carForm.controls.brand.invalid">{{ "Pole obowiązkowe" }}</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Liczba drzwi</mat-label>
                <input matInput [formControl]="carForm.controls.number_of_doors" required>
                <mat-error *ngIf="carForm.controls.brand.invalid">{{ "Pole obowiązkowe" }}</mat-error>
            </mat-form-field>
    
        </div>

        <div class="row">
            <mat-form-field>
                <mat-label>Bagażnik</mat-label>
                <input matInput [formControl]="carForm.controls.trunk" required>
                <mat-error *ngIf="carForm.controls.brand.invalid">{{ "Pole obowiązkowe" }}</mat-error>
            </mat-form-field>
    
    
            <mat-form-field>
                <mat-label>Kolor</mat-label>
                <input matInput [formControl]="carForm.controls.color" required>
                <mat-error *ngIf="carForm.controls.brand.invalid">{{ "Pole obowiązkowe" }}</mat-error>
            </mat-form-field>
    
    
            <mat-form-field>
                <mat-label>Zużycie paliwa</mat-label>
                <input matInput [formControl]="carForm.controls.fuel_consumption" required>
                <mat-error *ngIf="carForm.controls.brand.invalid">{{ "Pole obowiązkowe" }}</mat-error>
            </mat-form-field>
        </div>


    </div>





</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="closeModal()">Anuluj</button>
  <button mat-button (click)="sendForm()">Zapisz</button>
</div>