.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.img {
  max-width: 300px;
  border: 1px solid black;
  border-radius: 8px;
}

.add-button {
  position: fixed;
  right: 4em;
  bottom: 4em;
}

.row {
  display: flex;
  justify-content: center;
  align-items: first baseline;
  gap: 8px;
}