<div class="column-container">
    <div class="header-bar">
      <p class="header-text">{{ "Samochody"}}</p>
      <button mat-raised-button color="primary" (click)="openDialog()">Dodaj samochód</button>
    </div>

      <ng-container *ngIf="cars$ | async as cars">
        <mat-card>
          <mat-card-content>
            <mat-tab-group  class="tabs">
                <mat-tab label="Wszystkie">
                  <app-car-table [carData]="filterCars(cars)" (sendTableResponse)="handleTableResponse($event)"></app-car-table>
                </mat-tab>
                <mat-tab label="Dostępne"> 
                  <app-car-table [carData]="filterCars(cars, 'available')" (sendTableResponse)="handleTableResponse($event)"></app-car-table>
                </mat-tab>
                <mat-tab label="Aktualnie wypożyczone">
                  <app-car-table [carData]="filterCars(cars, 'rented')" (sendTableResponse)="handleTableResponse($event)"></app-car-table>
                </mat-tab>
                <mat-tab label="Wyłączone z użytku">
                  <app-car-table [carData]="filterCars(cars, 'off')" (sendTableResponse)="handleTableResponse($event)"></app-car-table>
                </mat-tab>
            </mat-tab-group>
          </mat-card-content>
        </mat-card>
      </ng-container>
</div>
  