<div class="column-container">
    <button mat-raised-button color="primary" (click)="goToAddCarPage()">Dodaj samochód</button>

      <ng-container *ngIf="cars$ | async as cars">
        <mat-tab-group class="tabs">
            <mat-tab label="Wszystkie">
              <app-car-table [carData]="cars"></app-car-table>
            </mat-tab>
            <mat-tab label="Dostępne"> 
              <app-car-table [carData]="cars"></app-car-table>
            </mat-tab>
            <mat-tab label="Aktualnie wypożyczone">
              <app-car-table [carData]="cars"></app-car-table>
            </mat-tab>
            <mat-tab label="Wyłączone z użytku">
              <app-car-table [carData]="cars"></app-car-table>
            </mat-tab>
        </mat-tab-group>
      </ng-container>
</div>
  