<div>
  <mat-tab-group style="width: 100%;" [selectedIndex]="selectedIndex">
    <mat-tab>
      <div class="container">
        <div class="cards">
          <ng-container *ngIf="{rental: (rentals$ | async)?.at(0) , car: currentRentalCar$ | async } as currentRental">
            <mat-card class="last-rental-card">
              <mat-card-header>
                <mat-card-title> Witaj Mietek! Oto twoje bieżące wypożyczenie: </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="last-rental-card-content">
                  <img style="width: 250px; border: solid 1px black; border-radius: 5px;" [src]="currentRental.car?.image_url"/>
                  <div class="info">
                    <p class="car-header">{{ currentRental.car?.brand + ' ' + currentRental.car?.model }}</p>
                    <p class="rental-date">{{ (currentRental.rental?.start_date | date : 'd.M.y h:mm') + ' - ' + (currentRental.rental?.end_date | date : 'd.M.y h:mm') }}</p>
                  </div>
                    <div class="status">
                      <img style="width: 50px; margin-bottom: 5px;" [src]="'assets/pending-icon.svg'"/>
                      <p style="font-weight: bold;">Oczekujące</p>
                  </div>
                </div>
                </mat-card-content>
            </mat-card>
          </ng-container>
          <mat-card class="card">
            <mat-card-header>
              <mat-card-title> Twoje wypożyczenia </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <ng-container *ngIf="rentals$ | async as rentals">
                <app-rental-table [rentalData]="rentals"></app-rental-table>
              </ng-container>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="search">
          <app-search-form class="search-panel" (sendForm)="handleFormFilled($event)"></app-search-form>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <app-search-results [filters]="rentalFilters" [rentalSearchResults]="rentalSearchResults" (takeMeBackToHomePage)="changeTab($event)"></app-search-results>
    </mat-tab>
  </mat-tab-group>

</div>
