<div>
  <mat-tab-group style="width: 100%;" [selectedIndex]="selectedIndex">
    <mat-tab>
      <div class="container">
        <div class="cards">
          <mat-card class="last-rental-card">
            <mat-card-header>
              <mat-card-title> Witaj Mietek! Oto twoje bieżące wypożyczenie: </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="last-rental-card-content">
                <img style="width: 250px; border: solid 1px black; border-radius: 5px;" [src]="'https://cdn.imagin.studio/getImage?&customer=img&make=citroen&modelFamily=c5-x&modelRange=c5-x&modelVariant=od&modelYear=2021&powerTrain=hybrid&transmission=0&bodySize=5&trim=eu&paintId=pspc0059&angle=01&zoomtype=fullscreen'"/>
                <div class="info">
                  <p class="car-header">Citroen C4</p>
                  <p class="rental-date">11.11.2023 10:00 - 21.11.2023 15:00</p>
                </div>
                  <div class="status">
                    <img style="width: 50px; margin-bottom: 5px;" [src]="'assets/pending-icon.svg'"/>
                    <p style="font-weight: bold;">Oczekujące</p>
                </div>
              </div>
              </mat-card-content>
          </mat-card>
          <mat-card class="card">
            <mat-card-header>
              <mat-card-title> Twoje wypożyczenia </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <app-rental-table></app-rental-table
            ></mat-card-content>
          </mat-card>
        </div>
        <div class="search">
          <app-search-form class="search-panel" (sendForm)="handleFormFilled($event)"></app-search-form>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <app-search-results [filters]="rentalFilters" [rentalSearchResults]="rentalSearchResults" (takeMeBackToHomePage)="changeTab($event)"></app-search-results>
    </mat-tab>
  </mat-tab-group>

</div>
