.toolbar {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;

    .logo {
        cursor: pointer;
    }

    .balance {
        position: absolute;
        right: 100px;
    }

    .log-out {
        position: absolute;
        right: 10px;
    }
}