<h1 mat-dialog-title>Szczegóły wypożyczenia</h1>
<div mat-dialog-content>
  <ng-container *ngIf="car$ | async as car">
    <div class="car-container">
      <div>
        <img
          style="width: 250px; border: solid 1px black; border-radius: 5px"
          [src]="car.image_url"
        />
      </div>
      <div style="display: flex; gap: 10px">
        <div style="width: 100%">
          <p>
            <span>Marka i model: </span>
            <span>{{ car.brand + " " + car.model }}</span>
          </p>
          <p>
            <span>Typ: </span>
            <span>{{ car.type }}</span>
          </p>
          <p>
            <span>Liczba miejsc: </span>
            <span>{{ car.number_of_seats }}</span>
          </p>
          <p>
            <span>Liczb drzwi: </span>
            <span>{{ car.number_of_doors }}</span>
          </p>
          <p>
            <span>Konie mechaniczne: </span>
            <span>{{ car.horse_power }}</span>
          </p>
        </div>
        <div style="width: 100%">
          <p>
            <span>Typ skrzyni biegów: </span>
            <span>{{ car.gearbox }}</span>
          </p>
          <p>
            <span>Pojemność bagażnika: </span>
            <span>{{ car.gearbox }}</span>
          </p>
          <p>
            <span>Rodzaj paliwa: </span>
            <span>{{ car.fuel_type }}</span>
          </p>
          <p>
            <span>Rok produkcji: </span>
            <span>{{ car.production_year }}</span>
          </p>
        </div>
      </div>
    </div>
  </ng-container>
  <hr />
  <ng-container *ngIf="user$ | async as user">
    <div class="rental-info-container">
      <div>
        <p>
          <span>Imię i nazwisko użytkownika:</span>
          <span>
            {{ 'imie' }}
          </span>
        </p>
        <p>
          <span>Numer prawa jazdy</span>
          <span>
            {{ user.licence_number }}
          </span>
        </p>
      </div>
      <div>
        <p>
          <span>Saldo: </span>
          <span>{{ user.wallet_balance + " zł" }}</span>
        </p>
        <button mat-raised-button (click)="openDialog(user._id!)">Nalicz karę</button>
      </div>
    </div>
  </ng-container>
  <hr />
  <ng-container *ngIf="rental$ | async as rental">
    <div class="rental-info-container">
      <div>
        <p>
          <span>Data rozpoczęcia:</span>
          <span>
            {{ rental.start_date | date: "d/M/y h:mm" }}
          </span>
        </p>
        <p>
          <span>Data zakończenia:</span>
          <span>
            {{ rental.end_date | date: "d/M/y h:mm" }}
          </span>
        </p>
        <p>Pozostało 10 dni</p>
      </div>
      <div>
        <p>
          <span>Status: </span>
          <span>{{ getRentalStatus(rental?.start_date!, rental?.end_date!, rental?.is_canceled!) }}</span>
        </p>
        <p>
          <span>Cena: </span>
          <span>{{ rental.price_overall + " zł" }}</span>
        </p>
      </div>
    </div>
  </ng-container>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="closeModal()">Anuluj wypożyczenie</button>
  <button mat-button (click)="closeModal()">Close</button>
</div>
