<div class="container">
    <div class="column">
        <mat-card class="shadow">
            <mat-card-header>
              <mat-card-title> CarRental sp z.o.o - panel</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              statystyki
            </mat-card-content>
          </mat-card>
        <mat-card>
            <mat-card-header>
              <mat-card-title> Przychody firmy</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              statystyki
            </mat-card-content>
          </mat-card>
    </div>
    <div class="column shadow">
      <ng-container *ngIf="rentals$ | async as rentals">
        <app-rental-table [mode]="RentalTableMode.ADMIN" [rentalData]="rentals" (changed)="handleRentalChanged($event)"></app-rental-table>
      </ng-container>
    </div>
</div>
