@use '@angular/material' as mat;

@include mat.core();

$primary-blue-palette: (
 50: #e8e9fd,
 100: #c5c8fa,
 200: #9da4f6,
 300: #7180f3,
 400: #4b62f0,
 500: #1644eb,
 600: rgb(0, 83, 128),
 700: rgb(0, 69, 106),
 800: rgb(0, 61, 95),
 900: rgb(0, 55, 85),

 contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: white,
   400: white,
   500: white,
   600: white,
   700: white,
   800: white,
   900: white,
 )
);

$accent-yellow-palette: (
 50: #fcf6df,
 100: #f8e7ae,
 200: #f2d77b,
 300: #edc944,
 400: #ebbd16,
 500: #e8b200,
 600: #e8a500,
 700: #e99200,
 800: #e88200,
 900: #e86300,

 contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: white,
   400: white,
   500: white,
   600: white,
   700: white,
   800: white,
   900: white,
 )
);

$my-primary: mat.define-palette($primary-blue-palette, 600);
$my-accent: mat.define-palette($accent-yellow-palette, 600, 700, 800);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($my-theme);
