<h1 mat-dialog-title>{{ mode === 'add' ? 'Dodawanie nowego użytkownika': "Edycja istniejącego użytkownika"}}</h1>
<div mat-dialog-content style="padding-top: 10px;">
    <div class="form">
        <mat-form-field>
            <mat-label>Numer domu</mat-label>
            <input matInput [formControl]="userForm.controls.house_number" required>
            <mat-error *ngIf="userForm.controls.house_number.invalid">{{ "Pole obowiązkowe" }}</mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Numer mieszkania</mat-label>
            <input matInput [formControl]="userForm.controls.apartment_number" required>
            <mat-error *ngIf="userForm.controls.apartment_number.invalid">{{ "Pole obowiązkowe" }}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Kod pocztowy</mat-label>
            <input matInput [formControl]="userForm.controls.postal_code" required>
            <mat-error *ngIf="userForm.controls.postal_code.invalid">{{ "Pole obowiązkowe" }}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Miasto</mat-label>
            <input matInput [formControl]="userForm.controls.city" required>
            <mat-error *ngIf="userForm.controls.city.invalid">{{ "Pole obowiązkowe" }}</mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Państwo</mat-label>
            <input matInput [formControl]="userForm.controls.country" required>
            <mat-error *ngIf="userForm.controls.country.invalid">{{ "Pole obowiązkowe" }}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Numer prawa jazdy</mat-label>
            <input matInput [formControl]="userForm.controls.licence_number" required>
            <mat-error *ngIf="userForm.controls.licence_number.invalid">{{ "Pole obowiązkowe" }}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Saldo</mat-label>
            <input matInput [formControl]="userForm.controls.wallet_balance" required>
            <mat-error *ngIf="userForm.controls.wallet_balance.invalid">{{ "Pole obowiązkowe" }}</mat-error>
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="closeModal()">Anuluj</button>
  <button mat-button (click)="sendForm()">Zapisz</button>
</div>








