<div class="container">
  <ng-container *ngIf="parameters$ | async as parameters">
    <h2>Wyszukaj rezerwację</h2>
    <form class="form">
    <mat-expansion-panel class="panel">
      <mat-expansion-panel-header class="panel-header">
        <mat-panel-description>
          <mat-form-field>
            <mat-label>Data rozpoczęcia</mat-label>
            <input matInput [min]="today" [matDatepicker]="picker" [formControl]="searchForm.controls.startDate">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Data zakończenia</mat-label>
            <input matInput [min]="today" [matDatepicker]="picker2" [formControl]="searchForm.controls.endDate">
            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        <mat-form-field>
          <mat-label>Marka</mat-label>
          <mat-select [formControl]="searchForm.controls.carBrand">
            <mat-option
            *ngFor="let brand of parameters.cars_brands"
              [value]="brand"
            >
            {{ brand }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Typ</mat-label>
        <mat-select [formControl]="searchForm.controls.carType">
          <mat-option
          *ngFor="let carModel of modelOptions"
          [value]="carModel"
          >
              {{ carModel }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Minimalny rok produkcji</mat-label>
          <input
          type="number"
          matInput
          [formControl]="searchForm.controls.carEarliestProductionYear"
          />
        </mat-form-field>
      </div>
      
      <div>
        <mat-form-field>
          <mat-label>Typ skrzyni biegów</mat-label>
          <mat-select [formControl]="searchForm.controls.carGearboxType">
            <mat-option
            *ngFor="let gearbox of parameters.gearboxes"
            [value]="gearbox"
            >
            {{ gearbox }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field>
        <mat-label>Rodzaj paliwa</mat-label>
        <mat-select [formControl]="searchForm.controls.carFuelType">
          <mat-option
              *ngFor="let fuel_type of parameters.fuel_types"
              [value]="fuel_type"
            >
            {{ fuel_type }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field>
        <mat-label>Minimalna liczba koni</mat-label>
        <input
        type="number"
        matInput
        [formControl]="searchForm.controls.carMinimalHorsePower"
        />
      </mat-form-field>
    </div>
    
      <div>
        <mat-form-field>
          <mat-label>Liczba miejsc</mat-label>
          <mat-select [formControl]="searchForm.controls.carSeatNumber">
            <mat-option
                *ngFor="let seatNumber of parameters.number_of_seats"
                [value]="seatNumber"
              >
              {{ seatNumber }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>Liczba drzwi</mat-label>
          <mat-select [formControl]="searchForm.controls.carDoorsNumber">
            <mat-option
                *ngFor="let doorNumber of parameters.number_of_doors"
                [value]="doorNumber"
              >
              {{ doorNumber }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>Rozmiar bagażnika</mat-label>
          <input matInput type = "number" [formControl]="searchForm.controls.minimalTrunkSize" />
        </mat-form-field>
      </div>
    </mat-expansion-panel>
    
    <div>
      <mat-form-field>
        <mat-label>Cena od</mat-label>
        <input
        type="number"
        matInput
        [formControl]="searchForm.controls.minimalPrice"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Cena do</mat-label>
        <input
        type="number"
        matInput
        [formControl]="searchForm.controls.maximalPrice"
        />
      </mat-form-field>
    </div>
  </form>
  <button [disabled]="searchForm.invalid" (click)="searchClicked()" mat-raised-button color="primary">SZUKAJ</button>
</ng-container>
</div>
