<div class="container">
  <div class="cards">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>
            Witaj Mietek!
        </mat-card-title>
    </mat-card-header>
      <mat-card-content
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis ex
        sit amet dolor porttitor tristique et eget metus. Donec dui est, dictum
        id tincidunt eget, pellentesque quis leo. In hac habitasse platea
        dictumst. Praesent finibus urna a magna vestibulum malesuada. Sed
        luctus, neque ut maximus luctus, arcu quam tincidunt orci, et ultrices
        dolor dui id augue. Etiam orci mi, molestie quis posuere id, aliquet non
        ipsum. Nullam leo justo, pretium nec vehicula a, feugiat ac
        metus.</mat-card-content
      >
    </mat-card>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>
                Saldo
            </mat-card-title>
        </mat-card-header>
      <mat-card-content>Kontner</mat-card-content>
    </mat-card>
  </div>
  <div class="table">
    <app-rental-table></app-rental-table>
  </div>
</div>
